<html>

<head>
    <script data-ad-client="ca-pub-5395995593492894" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %>;</title>
  <!-- Event snippet for SignupJobgrabba.com conversion page -->
  <script>
    gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-147951644-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '280892588917611');
    fbq('track', 'PageView');
    
   
     var userInfo = <%- JSON.stringify(userInfo) %>;
     var userInfoRedCourses = <%- JSON.stringify(userInfo) %>;
    
    var userInfodiabetesLottery = <%- JSON.stringify(userInfo) %>;
    
    var userInfoTradeCourses = <%- JSON.stringify(userInfo) %>;

    var userInfoo2 = <%- JSON.stringify(userInfo) %>;
    var userInfoutilita = <%- JSON.stringify(userInfo) %>;
   
    var userInfobritSeniors = <%- JSON.stringify(userInfo) %>;
    var userInfoAmazon = <%- JSON.stringify(userInfo) %>;
    userInfoAmazon.subAffiliate = "jobseakers";
    var userInfoDealchecker = <%- JSON.stringify(userInfo) %>;
    userInfoDealchecker.prize = "Job Advert";
    userInfoDealchecker.trafficid = "10123";
  
    userInfoo2.phone1 = userInfoo2.mobile;
    userInfoo2.optinurl = userInfoo2.reference;
    userInfoo2.prize = "Job Advert";
    userInfoo2.trafficid = "10123";
    userInfoutilita.prize = "Job Advert";
    userInfoutilita.trafficid = "10123";
    userInfoutilita.optinurl = userInfoutilita.reference;
    userInfoutilita.phone1 = userInfoutilita.mobile;
    userInfobritSeniors.phone1 = userInfobritSeniors.mobile;
    userInfobritSeniors.ssid = "dealspage";
    
   
    userInfodiabetesLottery.campaign = 'coreg';
    userInfodiabetesLottery.phone1 = userInfodiabetesLottery.mobile;
    userInfodiabetesLottery.optinurl = "https://www.jobgrabba.com";
    userInfodiabetesLottery.ssid = userInfodiabetesLottery.subAffiliate;
    userInfodiabetesLottery.source = "";

    var genderString;
              if (userInfodiabetesLottery.title == "Mr"){
                genderString = "Male";
              }else if (userInfodiabetesLottery.title == "Mrs" || userInfodiabetesLottery.title == "Ms"){
                genderString = "Female";
              };
              userInfodiabetesLottery.gender = genderString;
   
    console.log(JSON.stringify(userInfo));
   

    

  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=280892588917611&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <img src="images/logojobgrabba.png" width="200" id="flag" style="margin: 0px 100px">
    </div>
    <div class="col-md-4">
    </div>
  </nav>
  <!-- intro    -->
  <div class="container" id="thankyoumessage">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <p style="text-align: center">Thanks for registering. You are now a Jobgrabba!<br>Your job enquiry is on the
          next page but first check out these money saving offers that are yours on the click of a button </p>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <!-- nav end -->
  <div class="container">
    <div class="row">
      <div class="form-group col-md-4">
        <div class="form-check"> <img src="/images/amazonprime.jpg" height="35" width="70">
          <p style='font-size: 12px'>Amazon Prime - FREE 30 day trial</p>
          <p style="font-size: 10px">Enjoy unlimited streaming of thousands of movies & TV shows on your tablet, smart
            TV, game consoles, laptop or mobile phones. You can also download videos on your mobile or tablet to watch
            on the go.</p>
          <P>Would you like a 30-day FREE trial? </p>

          <p><input class="form-check-input" type="checkbox" id="gridCheck3" name="tickYes2" value="Yes"
               />
            <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
              <input class="form-check-input" type="checkbox" id="gridCheck4" name="tickNo2" value="No"
                >
              <label class="form-check-label" for="gridCheck6"> No </p>


          <br>
          <p style="font-size: 10px">Watch out for the welcome email and click through to take up the offer! <a
              href="https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=200198240">Terms and Conditions</p>
          </a>
          </label>
          <input id="ipaddress" maxlength="20" name="ipaddress" size="20" type="hidden" value=" "></input>
          <input type="hidden" type="text" id="source" name="source" value="basicpage">

        </div>
      </div>


      <div class="col-md-4">
        <div class="form-check">
          
          <img src="/images/DiabetesLogo.jpg" height="90" width="180">
          <br>
          <p>Today could be your lucky day!</p>
          From just £1 a week, be in with the chance to win 1 of 100 cash prizes and £1,000 every Friday with the diabetes lottery. Every time you play, you are helping us tackle the UK Diabetes crisis.<br></br>
          <p>Click yes to receive a call for the chance to win!</p>
          <p><input class="form-check-input" type="checkbox" id="gridCheck5" name="tickYes6" value="Yes" />
            <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
              <input class="form-check-input" type="checkbox" id="gridCheck6" name="tickNo7" value="No">
              <label class="form-check-label" for="gridCheck6"> No </p>
                <p style="font-size: 10px">  www.begambleaware.org Run by Diabetes UK Services Ltd for The British Diabetic Association (Diabetes UK) reg. charity in England and Wales (215199) and Scotland (SC039136). GB Residents Only. Age 16+ only. T's & C's apply.<a href="www.begambleaware.org"> Privacy Policy</a>
          </p>
        
          </label>

        </div>
      </div>

      <div class="col-md-4">
        <div class="form-check">
          <img src="/images/dealcheckerlogo.png" height="70" width="140">
          <P>Never pay a full price for your holiday again with amazing FREE email travel updates from
            dealchecker.co.uk! </p>

          <h5 id="NGtitle"> Dealchecker </h5>
          <p style="font-size: 10px">Here at dealchecker, we search low and high to find you the best deals on the web.
            Every deal is thoroughly researched to ensure that it's a real bargain with no hidden costs.</p>
          <p style="font-size: 10px">Click YES to receive FREE emails from dealchecker loaded with great value travel
            offers.</p>
          <p><input class="form-check-input" type="checkbox" id="gridCheck7" name="tickYes7" value="Yes" />
            <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
              <input class="form-check-input" type="checkbox" id="gridCheck8" name="tickNo8" value="No">
              <label class="form-check-label" for="gridCheck6"> No </p>
          <p style="font-size: 10px"><a href="https://www.dealchecker.co.uk/site/email-privacy.html">Terms and
              Conditions
          </p></a>
          </label>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="form-group col-md-4">
          <div class="form-check"> <img src="/images/O2logo.svg" height="70" width="140">
            <p style='font-size: 12px'>O2</p>
            <p style="font-size: 10px">Claim your Free O2 Sim Card and get double Data, Minutes and Texts. Would you
              like to be contacted to hear more?</p>




            <p><input class="form-check-input" type="checkbox" id="gridCheck9" name="tickYes2" value="Yes"
                 />
              <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                <input class="form-check-input" type="checkbox" id="gridCheck10" name="tickNo2" value="No"
                  onclick="getValue()">
                <label class="form-check-label" for="gridCheck6"> No </p>


            <br>
            <p style="font-size: 10px"> <a href="https://www.o2.co.uk/termsandconditions">Terms and Conditions</p>
            <p style="font-size: 10px"> <a href="https://www.o2.co.uk/termsandconditions/privacy-policy">Privacy Policy
            </p>
            </a>
            </label>
            <input id="ipaddress" maxlength="20" name="ipaddress" size="20" type="hidden" value=" "></input>
            <input type="hidden" type="text" id="source" name="source" value="basicpage">

          </div>
        </div>


        <div class="col-md-4">
          <div class="form-check">
            <img src="/images/utilitalogo.jpeg" height="70" width="140">
            <P>Leading Provider of smart Pay As You Go energy in Great Britain </p>
            <P>Would you like to receive a call from Utilita Energy to find out more information about the benefits of
              switching over? </p>
            <p><input class="form-check-input" type="checkbox" id="gridCheck11" name="tickYes6" value="Yes" />
              <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                <input class="form-check-input" type="checkbox" id="gridCheck12" name="tickNo7" value="No">
                <label class="form-check-label" for="gridCheck6"> No </p>
            <h5 id="NGtitle"> No more energy bills, no more complicated tariffs - just a simple, easy-to-use smart
              meter. </h5>
            <p style="font-size: 10px">Who is your current energy supplier? List </p>
            <select id="supplier" name="supplier">
              <option value="British Gas"> British Gas </option>
              <option value="EDF Energy"> EDF Energy</option>
              <option value="E.ON"> E.ON </option>
              <option value="NPower"> NPower</option>
              <option value="Scottish Power"> Scottish Power </option>
              <option value="SSE"> SSE</option>
              <option value="Other"> Other</option>
            </select>

            <p style="font-size: 10px">WHow do you pay for your energy bill? </p>
            <select id="paymentmethod" name="paymentmethod">
              <option value="Direct Debit"> Direct Debit </option>
              <option value="Pre-Payment"> Pre-Payment </option>
              <option value="Other"> Other</option>
            </select>

            <p> Yes” means you consent to Utilita’s Group of companies contacting you about; switching energy supplier,
              products or services Utilita believes may be relevant to you.

              You can opt out at any time afterwards by phone or email using either Complaince@utilita.co.uk or calling
              01962 874 864

              If you registered with the Telephone Preference Service (TPS) or have said no to Utilita contacting you
              before, this explicit consent means Utilita can contact you.

              For more information on Utilita & your data rights, visit their website www.utilita.co.uk and view Privacy
              Notice.</p>

            <p style="font-size: 10px"><a href="http://www.utilita.co.uk">Terms and Conditions
            </p></a>
            </label>

          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group col-md-12">
            <div class="form-check">
              <img src="/images/redLogo.png" height="70" width="140">
              <br>
              <p style='font-size: 12px strong'>Red Driving School</p>
              <p style="font-size: 12px">Driving Instructor's have a typical gross income of £870 week with RED Driving. Get on the road to a new career for only £2120 (other payment options available),<span style="font-weight: 700"> with a 100% refund on these training costs when you become a RED Driving School instructor.</span></p>
              <p style="font-size: 12px">Would you be interested in becoming a qualified Driving Instructor?*</p>
              
              <p><input class="form-check-input" type="checkbox" id="redcoursetickyes" name="redcoursetickyes" value="Yes"
                   />
                <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                  <input class="form-check-input" type="checkbox" id="redcoursetickno" name="redcoursetickno" value="No"
                    >
                  <label class="form-check-label" for="gridCheck6"> No </p>
                    <div id="courseChoices1" style="display:none"> 
                      <p style="font-size: 12px">*Licence Type:<br> 
                      <select class="custom-select" id="Redlicence" name="Redlicence">
                          <option value="fullLicence3yearsplus">Full UK held for 3 years or more  </option>
                          <option value="fullnot3years">Full UK held for less than 3 years </option>
                          <option value="other">Other </option>
                      </select>
                  </p>
                  <p style="font-size: 12px">*Have you been banned from driving in the last 4 years?<br> 
                      <select class="custom-select" id="drivingBan" name="DrivingBan">
                          <option value="noBan">Full UK held for 3 years or more  </option>
                          <option value="yesBan">Full UK held for less than 3 years </option>
                      </select>
                  </p>
                  <p style="font-size: 12px">*How many penalty points do you have?<br> 
                      <select class="custom-select" id="penaltyPoints" name="penaltyPoints">
                          <option value="lessthan6">Less than 6  </option>
                          <option value="6ormore">6 or More </option>
                      </select>
                  </p>
                  <div id="courseDetailsBelow">

                  </div>
                      <br>
          
                    </div> 


  
  
              <br>
              <br>
              <p style="font-size: 10px"> *I would like to talk to RED about course fees and pay as you go options. By submitting this enquiry you are giving your consent to allow RED to call you to discuss our instructor training course and to send you relevant driving instructor career opportunities via email and SMS. We will hold your data for this purpose for a period of up to 3 years. We will not use your data for any other purpose.</p>
             
              </p>
              </a>
                  
                       
             

            </div>
          </div>
        </div>
        
      </div>
      <!-- sign up row -->
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <script>

            

        var redCourseTickYes1 = document.getElementById('redcoursetickyes');
        
        redCourseTickYes1.addEventListener('click' , displayRedCourseInfo)
       
            

       function  displayRedCourseInfo(){
if(redCourseTickYes1.checked){
document.getElementById("courseChoices1").style.display = 'block';

document.getElementById('courseDetailsBelow').innerHTML =`<h3>See Full Course Details Below</h3>`

document.getElementById('courseOverviewRed').innerHTML = `<h3>Train to become a Driving Instructor with typical gross income of £870 week with RED Driving</h3> <br>
<p>We have been helping people steer their career in the right direction and realise their potential of becoming a driving instructor for over 20 years. At RED, we don¹t simply rely on our heritage; we concentrate on delivering high quality training and great support every step of the way.</p>
<p>Becoming a driving instructor is more than just a job. It is a profession that provides long term career prospects, unrivalled benefits and unlimited job satisfaction.</p>
<p> <strong>Be your own boss and achieve a perfect work/life balance</strong></p><br>
<p>There aren¹t many careers that give you the freedom to choose your own working hours and 90 % of RED Instructors report that they are 'satisfied¹ with their job.</p><br>
<p> <strong>The demand for Driving Instructors is growing throughout the UK</strong></p><br>
<p>Learning to drive is a rite of passage for most young adults, so there is always a demand for professional driving instructors who are able to deliver fantastic customer service, teach people the skills of safe driving for life and ultimately help their pupils to pass their test with the minimum of hassle.</p><br>
<p><strong>The best course in the business with a guaranteed opportunity</strong></P>
<br>
<p>We focus on helping you succeed as we want you to join RED Driving School as a qualified Instructor. We achieve this by giving you the best training and support possible. Proof of this comes from those who’ve already trained with us and we’re justifiably proud of our feedback score of 4.7 out of a maximum 5 star rating from our trainees. (Independent customer survey conducted by Feefo.)</p>
<p>With RED¹s training course you¹ll have up to 80 hrs of training with a qualified RED trainer and back office support throughout. You¹ll be able to qualify at your own pace and be able to fit the programme around your existing commitments. The majority of people we train don¹t have any previous experience; however, they do possess the drive and determination to be the very best at what they do.</p>
<p>As part of your training with RED you have a guaranteed opportunity to join one of the largest Driving Schools in the UK and this PDI Trainee Licence route allows you to earn as you are training and gives you a significant advantage in preparing for and passing the DVSA¹s new Part 3 test.</p>
<p><strong>Is RED for you?</strong></p>
<p>RED Driving School has now trained more than 10,000 ADIs and is the largest driving instructor training organisation in the UK- we understand what it takes to pass.<p>
<br>
    <p>Our driving instructor-training course is right up your street if you:</p>
<ul>
<li>Want to be your own boss and have a rewarding career.</li>
<li>Like meeting new people. -Enjoy driving.</li><br>
<p>Are committed to learning. In addition, the Driver and Vehicle Standards Agency (DVSA) insists you will need:</p><br>
<li>A full UK licence (or approved foreign licence) for at least 3 1/2 years.</li>
<li>To have not been banned from driving in the last 4 years.</li>
<li>To have no more than 6 points on your licence.</li>
<li>To be a 'fit and proper¹ person (in the opinion of the DVSA).</li>
</ul>
<p><strong>Join our winning team now and we’ll provide our full Instructor training course for just £2,120 with a 100% refund on these training costs when you become a RED Driving School instructor. This price saves you £479 compared to our normal price.</strong></p>
<p>Other course options and monthly payments are available.</p>

<p style="align:right">So if this sounds like a career that interests you then please click apply and fill in our short registration form and we will call you to discuss in more detail.</strong><br>
We offer easy payment options to help you spread the cost of the course and to start your course straight away from as little as £35 per week.</p>`;

}else{
  document.getElementById("courseChoices1").style.display = 'none';
  document.getElementById('courseDetailsBelow').innerHTML = "";
  document.getElementById('courseOverviewRed').innerHTML =""


}


}



            function sendSubscriptions() {
              if(!validate()){
                return;
              }
             
               var diabetesLotteryCheckYes = document.getElementById('gridCheck5');
              
              if (diabetesLotteryCheckYes.checked) {
              
                var diabetesLotteryInfo = {
                  "async": true,
                  "crossDomain": true,
                  "data": userInfodiabetesLottery,
                  url: "https://pp.leadbyte.co.uk/api/submit.php?campid=DIABETES-COREG-UK&sid=74265&returnjson=yes",
                  "method": "GET",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "lead365.leadbyte.co.uk",
                    "Accept-Encoding": "gzip, deflate",
                    "Connection": "keep-alive",
                  }
                };
                $.ajax(diabetesLotteryInfo).done(function (response) {
                  console.log("Diabetes response:" + JSON.stringify(response));
                });
              }

              
              var redCourseTickYes = document.getElementById("redcoursetickyes");
              var redLicence = $("#Redlicence").val();
              var drivingBan = $("#drivingBan").val();
              var penPoints = $("#penaltyPoints").val();

           
              userInfoRedCourses.redcoursetickyes = $("#redcoursetickyes").val();
              userInfoRedCourses.Redlicence = redLicence;
              userInfoRedCourses.DrivingBan = drivingBan;
              userInfoRedCourses.penaltyPoints = penPoints;
              userInfoRedCourses.list = 'U6Y763TalmDA6SYIatCfJ90g';
              
             
            if(redCourseTickYes.checked){

            var redCourses = {
                 method: "POST",
                  "data": userInfoRedCourses,
                  url: "https://dealgrabba.online/sendy/subscribe",
                  "method": "POST",
                  "headers": {
                    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
                    "Host": "dealgrabba.online",
                    "Accept-Encoding": "gzip, deflate",
                    "Connection": "keep-alive",

                  }
                };

                $.ajax(redCourses).done(function (response) {
                  console.log(response);
                });

              }


              var amazonCheckYes = document.getElementById("gridCheck3");
              console.log(amazonCheckYes)
              if (amazonCheckYes.checked) {
                // send request to other service
                var options2 = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfoAmazon,
                  url: 'https://trk.m-t.io/action?_tec=0&_tep=6091614734909440',
                  "method": "GET",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "trk.m-t.io",
                    "Accept-Encoding": "gzip, deflate",
                    "Connection": "keep-alive",
                  }
                };
                $.ajax(options2).done(function (response) {
                  console.log("amazon response:" + JSON.stringify(response));
                });
              }
              var dealchecker = document.getElementById("gridCheck7");
              if (dealchecker.checked) {
                var dealcheckerOptions = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfoDealchecker,
                  url: "https://lead365.leadbyte.co.uk/api/submit.php?returnjson=yes&campid=DEAL-CHECKER&sid=SID492",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "lead365.leadbyte.co.uk",
                    "Accept-Encoding":
                      "gzip, deflate",
                    "Connection": "keep-alive",
                  }
                };
                $.ajax(dealcheckerOptions).done(function (response) {
                  console.log("deal checkers response:" + JSON.stringify(response));
                });

              }

              var utilita = document.getElementById("gridCheck11");

              var supplier = $("#supplier").val();
              var paymentmethod = $("#paymentmethod").val();
              console.log(supplier)
              console.log(paymentmethod)
              userInfoutilita.currentprovider = supplier;
              userInfoutilita.paymentmethod = paymentmethod;

              if (utilita.checked) {
                var utilitaInfo = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfoutilita,
                  url: "https://lead365.leadbyte.co.uk/api/submit.php?campid=UTILITA-ONLINE&sid=SID492&returnjson=yes",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "lead365.leadbyte.co.uk",
                    "Accept-Encoding":
                      "gzip, deflate",
                    "Connection": "keep-alive",
                  }

                };
                $.ajax(utilitaInfo).done(function (response) {
                  console.log("utilita response:" + JSON.stringify(response));
                });
              }
              var o2 = document.getElementById("gridCheck9");
              if (o2.checked) {
                var o2Info = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfoo2,
                  url: "https://lead365.leadbyte.co.uk/api/submit.php?campid=02-FREE-SIM&sid=SID492",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "lead365.leadbyte.co.uk",
                    "Accept-Encoding":
                      "gzip, deflate",
                    "Connection": "keep-alive",
                  }

                };
                $.ajax(o2Info).done(function (response) {
                  console.log("o2 response:" + JSON.stringify(response));
                });
              }

              window.location = "c2version";

            }
          </script>
          <div id="errormessage">

            </div>

          <button id="applyNowButton" class="btn btn-primary" onclick="sendSubscriptions();" value="Redirect">Apply
            now</button>
          
        </div>
        <script>
          function validate() {
            const yeh = document.getElementById("redcoursetickyes");
            const nah = document.getElementById("redcoursetickno");
            const yeh1 = document.getElementById("gridCheck3");
            const nah1 = document.getElementById("gridCheck4");
            const yeh2 = document.getElementById("gridCheck5");
            const nah2 = document.getElementById("gridCheck6");
            const yeh4 = document.getElementById("gridCheck9");
            const nah4 = document.getElementById("gridCheck10");
            const yeh3 = document.getElementById("gridCheck7");
            const nah3 = document.getElementById("gridCheck8");
            const yeh5 = document.getElementById("gridCheck11");
            const nah5 = document.getElementById("gridCheck12");           
            const alertMessage = document.getElementById("validationmessage")
            if ((yeh.checked == true || nah.checked == true) &&
                (yeh1.checked == true || nah1.checked == true) &&
                (yeh2.checked == true || nah2.checked == true) &&
                (yeh3.checked == true || nah3.checked == true) &&
                (yeh4.checked == true || nah4.checked == true) &&
                (yeh5.checked == true || nah5.checked == true)            
            ) {
              return true;
            } else {
              document.getElementById("errormessage").innerHTML = "Please select either Yes or No for each offer";
              return false;
            }
          }


          

        </script>
        <div class="col-md-4">
        </div>
        
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <p style="text-align: center" id="courseOverviewRed"> 
                  

                </p>
              </div>
              <div class="col-md-2">
              </div>
            </div>
          </div>

      </div>
      <!-- <script type="text/javascript">
        $('#gridCheck7').click(function() {
          fbq('trackCustom', 'Purchase', { currency: "USD", value: 0.24});
          console.log('value') });

          $('#gridCheck13').click(function() {
          fbq('trackCustom', 'Britseniors', { value: 1.40});
        });

          $('#gridCheck3').click(function() {
          fbq('trackCustom', 'Amazon', { value: 0.20});
        });
          $('#gridCheck5').click(function() {
          fbq('trackCustom', 'DiabetesLottery', { value: 0.50});

        });
          $('#gridCheck9').click(function() {
          fbq('trackCustom', '02', { value: 0.35});
        });
          $('#gridCheck11').click(function() {
          fbq('trackCustom', 'utilita', { value: 0.78});
         
        });
      </script> -->


      <!-- footer start-->
      <div class="container">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <div class="footer1">
              <div class="card-footer text-muted">
                <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                  <a href="/tandc">Terms and Conditions &nbsp </a>
                  <a href="/aboutus">About us &nbsp </a></p>
                <p><a href="http://www.almondmedia.co.uk/contact-us/">Contact us &nbsp</a>
                  <a href="http://www.almondmedia.co.uk/contact-us/">Advertise </a> </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="images/AMLogo.png" height="75" width="100">
          </div>
        </div>
      </div>
    </div>
</body>


</html>



