<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %>;</title>
  <!-- Event snippet for SignupJobgrabba.com conversion page -->
  <script>
    gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-147951644-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '280892588917611');
    fbq('track', 'PageView');
    
   
     var userInfo = <%- JSON.stringify(userInfo) %>;
     var userInfoRedCourses = <%- JSON.stringify(userInfo) %>;
    
    var userInfodiabetesLottery = <%- JSON.stringify(userInfo) %>;
    
    var userInfoTradeCourses = <%- JSON.stringify(userInfo) %>;

    var userInfoo2 = <%- JSON.stringify(userInfo) %>;
    var userInfoutilita = <%- JSON.stringify(userInfo) %>;
   
    var userInfobritSeniors = <%- JSON.stringify(userInfo) %>;
    var userInfoAmazon = <%- JSON.stringify(userInfo) %>;
    var userInfoDealchecker = <%- JSON.stringify(userInfo) %>;
    userInfoDealchecker.prize = "Job Advert";
    userInfoDealchecker.trafficid = "10123";
  
    userInfoo2.phone1 = userInfoo2.mobile;
    userInfoo2.optinurl = userInfoo2.reference;
    userInfoo2.prize = "Job Advert";
    userInfoo2.trafficid = "10123";
    userInfoutilita.prize = "Job Advert";
    userInfoutilita.trafficid = "10123";
    userInfoutilita.optinurl = userInfoutilita.reference;
    userInfoutilita.phone1 = userInfoutilita.mobile;
    userInfobritSeniors.phone1 = userInfobritSeniors.mobile;
    userInfobritSeniors.ssid = "dealspage";
    
   
    userInfodiabetesLottery.campaign = 'coreg';
    userInfodiabetesLottery.phone1 = userInfodiabetesLottery.mobile;
    userInfodiabetesLottery.optinurl = "https://www.jobgrabba.com";
    userInfodiabetesLottery.ssid = userInfodiabetesLottery.subAffiliate;
    userInfodiabetesLottery.source = "";

    var genderString;
              if (userInfodiabetesLottery.title == "Mr"){
                genderString = "Male";
              }else if (userInfodiabetesLottery.title == "Mrs" || userInfodiabetesLottery.title == "Ms"){
                genderString = "Female";
              };
              userInfodiabetesLottery.gender = genderString;
   
    console.log(JSON.stringify(userInfo));
   




  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=280892588917611&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
       <div style="text-align: center">
      <img src="images/logojobgrabba.png" width="200" id="flag" style="margin: 0px 100px">
    </div>
    </div>
    <div class="col-md-3">
    </div>
  </nav>
  <!-- intro    -->
  <div class="container" id="thankyoumessage">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <h3 style="text-align: center">Thanks for registering. You are now a Jobgrabba!<br></br>Jobgrabba has partnered with Red Driving school to offer you the chance to become an instructor</h3>
      </div>
        <h3>Answer the below and then press apply to see the availble customer service jobs</h3>
      </div>
      <div class="col-md-3">
      </div>
    </div>


  <!-- nav end -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-check">
            <img src="/images/redLogo.png" height="70" width="140">
            <br>
            <p style='font-size: 13px strong'>Red Driving School</p>
            <p style="font-size: 13px">Driving Instructor's have a typical gross income of £870 week with RED Driving. Get on the road to a new career for only £2120 (other payment options available),<span style="font-weight: 700"> with a 100% refund on these training costs when you become a RED Driving School instructor.</span></p>
            <p style="font-size: 13px">Would you be interested in becoming a qualified Driving Instructor?*</p>
            <p style="font-size: 13px">(To qualify you must have a valid licence for at least 3 years)</p>

            
            <p><input class="form-check-input" type="checkbox" id="redcoursetickyes" name="redcoursetickyes" value="Yes"
                 />
              <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                <input class="form-check-input" type="checkbox" id="redcoursetickno" name="redcoursetickno" value="No"
                  >
                <label class="form-check-label" for="gridCheck6"> No </p>
                  <div id="courseChoices1" style="display:block"> 
                    <p style="font-size: 13px">*Licence Type:<br> 
                    <select class="custom-select" id="Redlicence" name="Redlicence">
                        <option value="fullLicence3yearsplus">Full UK held for 3 years or more  </option>
                        <option value="fullnot3years">Full UK held for less than 3 years </option>
                        <option value="other">No Licence </option>
                    </select>
                </p>
                <p style="font-size: 13px">*Have you been banned from driving in the last 4 years?<br> 
                    <select class="custom-select" id="drivingBan" name="DrivingBan">
                        <option value="noBan">No </option>
                        <option value="yesBan">Yes</option>
                    </select>
                </p>
                <p style="font-size: 13px">*How many penalty points do you have?<br> 
                    <select class="custom-select" id="penaltyPoints" name="penaltyPoints">
                        <option value="lessthan6">Less than 6  </option>
                        <option value="6ormore">6 or More </option>
                    </select>
                </p>
                <div id="errormessage">

                </div>
                <button id="applyNowButton" class="btn btn-primary" onclick="sendSubscriptions();" value="Redirect">Apply
                    now</button>
         
                    <p style="font-size: 10px"> *I would like to talk to RED about course fees and pay as you go options. By submitting this enquiry you are giving your consent to allow RED to call you to discuss our instructor training course and to send you relevant driving instructor career opportunities via email and SMS. We will hold your data for this purpose for a period of up to 3 years. We will not use your data for any other purpose.</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">

        <h3>Train to become a Driving Instructor with typical gross income of £870 week with RED Driving</h3> <br>
        <p>We have been helping people steer their career in the right direction and realise their potential of becoming a driving instructor for over 20 years. At RED, we don¹t simply rely on our heritage; we concentrate on delivering high quality training and great support every step of the way.</p>
        <p>Becoming a driving instructor is more than just a job. It is a profession that provides long term career prospects, unrivalled benefits and unlimited job satisfaction.</p>
        <p> <strong>Be your own boss and achieve a perfect work/life balance</strong></p><br>
        <p>There aren¹t many careers that give you the freedom to choose your own working hours and 90 % of RED Instructors report that they are 'satisfied¹ with their job.</p><br>
        <p> <strong>The demand for Driving Instructors is growing throughout the UK</strong></p><br>
        <p>Learning to drive is a rite of passage for most young adults, so there is always a demand for professional driving instructors who are able to deliver fantastic customer service, teach people the skills of safe driving for life and ultimately help their pupils to pass their test with the minimum of hassle.</p><br>
        <p><strong>The best course in the business with a guaranteed opportunity</strong></P>
        <br>
        <p>We focus on helping you succeed as we want you to join RED Driving School as a qualified Instructor. We achieve this by giving you the best training and support possible. Proof of this comes from those who’ve already trained with us and we’re justifiably proud of our feedback score of 4.7 out of a maximum 5 star rating from our trainees. (Independent customer survey conducted by Feefo.)</p>
        <p>With RED¹s training course you¹ll have up to 80 hrs of training with a qualified RED trainer and back office support throughout. You¹ll be able to qualify at your own pace and be able to fit the programme around your existing commitments. The majority of people we train don¹t have any previous experience; however, they do possess the drive and determination to be the very best at what they do.</p>
        <p>As part of your training with RED you have a guaranteed opportunity to join one of the largest Driving Schools in the UK and this PDI Trainee Licence route allows you to earn as you are training and gives you a significant advantage in preparing for and passing the DVSA¹s new Part 3 test.</p>
        <p><strong>Is RED for you?</strong></p>
        <p>RED Driving School has now trained more than 10,000 ADIs and is the largest driving instructor training organisation in the UK- we understand what it takes to pass.<p>
        <br>
            <p>Our driving instructor-training course is right up your street if you:</p>
        <ul>
        <li>Want to be your own boss and have a rewarding career.</li>
        <li>Like meeting new people. -Enjoy driving.</li><br>
        <p>Are committed to learning. In addition, the Driver and Vehicle Standards Agency (DVSA) insists you will need:</p><br>
        <li>A full UK licence (or approved foreign licence) for at least 3 1/2 years.</li>
        <li>To have not been banned from driving in the last 4 years.</li>
        <li>To have no more than 6 points on your licence.</li>
        <li>To be a 'fit and proper¹ person (in the opinion of the DVSA).</li>
        </ul>
        <p><strong>Join our winning team now and we’ll provide our full Instructor training course for just £2,120 with a 100% refund on these training costs when you become a RED Driving School instructor. This price saves you £479 compared to our normal price.</strong></p>
        <p>Other course options and monthly payments are available.</p>
        
        <p style="align:right">So if this sounds like a career that interests you then please click apply and fill in our short registration form and we will call you to discuss in more detail.</strong><br>
        We offer easy payment options to help you spread the cost of the course and to start your course straight away from as little as £35 per week.</p>`;
 
</div>
    </div>
     

    </div>
</div>


    <div class="container">
      <div class="row">
        <div class="form-group col-md-6">
          <div class="form-check">
        
              <br>
              <br>

            
                  
                       
            </div> 
            
            

            
          </div>
          <div class="form-group col-md-6">

          </div>
        </div>
    </div>
  
      
      <!-- sign up row -->
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <script>

            

        var redCourseTickYes1 = document.getElementById('redcoursetickyes');
        
        redCourseTickYes1.addEventListener('click' , displayRedCourseInfo)
       
            

//        function  displayRedCourseInfo(){
// if(redCourseTickYes1.checked){
// document.getElementById("courseChoices1").style.display = 'block';

// document.getElementById('courseDetailsBelow').innerHTML =`<h3>See Full Course Details Below</h3>`

// // document.getElementById('courseOverviewRed').innerHTML = `<h3>Train to become a Driving Instructor with typical gross income of £870 week with RED Driving</h3> <br>
// // <p>We have been helping people steer their career in the right direction and realise their potential of becoming a driving instructor for over 20 years. At RED, we don¹t simply rely on our heritage; we concentrate on delivering high quality training and great support every step of the way.</p>
// // <p>Becoming a driving instructor is more than just a job. It is a profession that provides long term career prospects, unrivalled benefits and unlimited job satisfaction.</p>
// // <p> <strong>Be your own boss and achieve a perfect work/life balance</strong></p><br>
// // <p>There aren¹t many careers that give you the freedom to choose your own working hours and 90 % of RED Instructors report that they are 'satisfied¹ with their job.</p><br>
// // <p> <strong>The demand for Driving Instructors is growing throughout the UK</strong></p><br>
// // <p>Learning to drive is a rite of passage for most young adults, so there is always a demand for professional driving instructors who are able to deliver fantastic customer service, teach people the skills of safe driving for life and ultimately help their pupils to pass their test with the minimum of hassle.</p><br>
// // <p><strong>The best course in the business with a guaranteed opportunity</strong></P>
// // <br>
// // <p>We focus on helping you succeed as we want you to join RED Driving School as a qualified Instructor. We achieve this by giving you the best training and support possible. Proof of this comes from those who’ve already trained with us and we’re justifiably proud of our feedback score of 4.7 out of a maximum 5 star rating from our trainees. (Independent customer survey conducted by Feefo.)</p>
// // <p>With RED¹s training course you¹ll have up to 80 hrs of training with a qualified RED trainer and back office support throughout. You¹ll be able to qualify at your own pace and be able to fit the programme around your existing commitments. The majority of people we train don¹t have any previous experience; however, they do possess the drive and determination to be the very best at what they do.</p>
// // <p>As part of your training with RED you have a guaranteed opportunity to join one of the largest Driving Schools in the UK and this PDI Trainee Licence route allows you to earn as you are training and gives you a significant advantage in preparing for and passing the DVSA¹s new Part 3 test.</p>
// // <p><strong>Is RED for you?</strong></p>
// // <p>RED Driving School has now trained more than 10,000 ADIs and is the largest driving instructor training organisation in the UK- we understand what it takes to pass.<p>
// // <br>
// //     <p>Our driving instructor-training course is right up your street if you:</p>
// // <ul>
// // <li>Want to be your own boss and have a rewarding career.</li>
// // <li>Like meeting new people. -Enjoy driving.</li><br>
// // <p>Are committed to learning. In addition, the Driver and Vehicle Standards Agency (DVSA) insists you will need:</p><br>
// // <li>A full UK licence (or approved foreign licence) for at least 3 1/2 years.</li>
// // <li>To have not been banned from driving in the last 4 years.</li>
// // <li>To have no more than 6 points on your licence.</li>
// // <li>To be a 'fit and proper¹ person (in the opinion of the DVSA).</li>
// // </ul>
// // <p><strong>Join our winning team now and we’ll provide our full Instructor training course for just £2,120 with a 100% refund on these training costs when you become a RED Driving School instructor. This price saves you £479 compared to our normal price.</strong></p>
// // <p>Other course options and monthly payments are available.</p>

// // <p style="align:right">So if this sounds like a career that interests you then please click apply and fill in our short registration form and we will call you to discuss in more detail.</strong><br>
// // We offer easy payment options to help you spread the cost of the course and to start your course straight away from as little as £35 per week.</p>`;

// // }else{
//   document.getElementById("courseChoices1").style.display = 'none';
//   document.getElementById('courseDetailsBelow').innerHTML = "";
//   document.getElementById('courseOverviewRed').innerHTML =""


// }


// }



            function sendSubscriptions() {
              if(!validate()){
                return;
              }

              
              var redCourseTickYes = document.getElementById("redcoursetickyes");
              var redLicence = $("#Redlicence").val();
              var drivingBan = $("#drivingBan").val();
              var penPoints = $("#penaltyPoints").val();

           
              userInfoRedCourses.redcoursetickyes = $("#redcoursetickyes").val();
              userInfoRedCourses.Redlicence = redLicence;
              userInfoRedCourses.DrivingBan = drivingBan;
              userInfoRedCourses.penaltyPoints = penPoints;
              userInfoRedCourses.list = 'U6Y763TalmDA6SYIatCfJ90g';
              
             
            if(redCourseTickYes.checked){


            var redCourses = {
                 method: "POST",
                  data: userInfoRedCourses,
                  url: "redsubmission",
                  // error: function (request, status, error) { alert(request.responseText); },
                };
                $.ajax(redCourses).done(function (response) {
                  console.log(JSON.stringify(response));
                });

              }
              window.location = "c2version";
          }
          
          </script>
          <div id="errormessage">

            </div>

          <button id="applyNowButton" class="btn btn-primary" onclick="sendSubscriptions();" value="Redirect">Apply
            now</button>
          
        </div>
        <script>
          function validate() {
            const yeh = document.getElementById("redcoursetickyes");
            const nah = document.getElementById("redcoursetickno");
                   
            const alertMessage = document.getElementById("validationmessage")
            if ((yeh.checked == true || nah.checked == true) 
                        
            ) {
              return true;
            } else {
              document.getElementById("errormessage").innerHTML = "Please select either Yes or No for each offer";
              return false;
            }
          }


          

        </script>
        <div class="col-md-4">
        </div>
        
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                
              </div>
              <div class="col-md-2">
              </div>
            </div>
          </div>

      </div>


      <!-- footer start-->
      <div class="container">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <div class="footer1">
              <div class="card-footer text-muted">
                <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                  <a href="/tandc">Terms and Conditions &nbsp </a>
                  <a href="/aboutus">About us &nbsp </a></p>
                <p><a href="http://www.almondmedia.co.uk/contact-us/">Contact us &nbsp</a>
                  <a href="http://www.almondmedia.co.uk/contact-us/">Advertise </a> </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="images/AMLogo.png" height="75" width="100">
          </div>
        </div>
      </div>
    </div>
</body>



</html>



